In [13]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [14]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City_ID.1,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,0,Mahebourg,MU,2021-12-06 23:13:00,-20.4081,57.7000,78.26,78,20,5.75
1,1,1,Hermanus,ZA,2021-12-06 23:13:01,-34.4187,19.2345,58.89,76,7,2.37
2,2,2,Lavrentiya,RU,2021-12-06 23:13:02,65.5833,-171.0000,-2.04,92,100,8.88
3,3,3,Konstantinovka,RU,2021-12-06 23:13:02,49.6167,127.9833,12.81,84,95,9.80
4,4,4,Bambous Virieux,MU,2021-12-06 23:13:04,-20.3428,57.7575,78.22,78,20,5.75

In [15]:
city_data_df.dtypes

City_ID         int64
City_ID.1       int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [16]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [17]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [33]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [34]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [36]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"] 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.

fig

Figure(layout=FigureLayout(height='420px'))

In [37]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"] 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.

fig

Figure(layout=FigureLayout(height='420px'))

In [39]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [40]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City_ID.1,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,0,Mahebourg,MU,2021-12-06 23:13:00,-20.4081,57.7000,78.26,78,20,5.75
4,4,4,Bambous Virieux,MU,2021-12-06 23:13:04,-20.3428,57.7575,78.22,78,20,5.75
5,5,5,Belmonte,BR,2021-12-06 23:13:04,-15.8631,-38.8828,79.30,83,68,7.27
8,8,8,Cururupu,BR,2021-12-06 23:13:06,-1.8283,-44.8683,77.16,90,59,3.27
9,9,9,Afikpo,NG,2021-12-06 23:13:07,5.8931,7.9374,78.80,78,100,6.85
12,12,12,Atuona,PF,2021-12-06 23:13:08,-9.8000,-139.0333,79.12,67,11,19.53
13,13,13,Lorengau,PG,2021-12-06 23:13:08,-2.0226,147.2712,84.61,78,97,14.63
20,20,20,Comodoro Rivadavia,AR,2021-12-06 23:13:12,-45.8667,-67.5000,75.06,27,0,16.11
22,22,22,Kavieng,PG,2021-12-06 23:13:13,-2.5744,150.7967,82.72,80,100,11.07
23,23,23,Alofi,NU,2021-12-06 23:13:14,-19.0595,-169.9187,80.49,74,90,16.11

In [41]:
preferred_cities_df.count()

City_ID       135
City_ID.1     135
City          135
Country       134
Date          135
Lat           135
Lng           135
Max Temp      135
Humidity      135
Cloudiness    135
Wind Speed    135
dtype: int64

In [42]:
preferred_cities_df.isnull().sum()

City_ID       0
City_ID.1     0
City          0
Country       1
Date          0
Lat           0
Lng           0
Max Temp      0
Humidity      0
Cloudiness    0
Wind Speed    0
dtype: int64

In [43]:
preferred_cities_df.notnull().sum()

City_ID       135
City_ID.1     135
City          135
Country       134
Date          135
Lat           135
Lng           135
Max Temp      135
Humidity      135
Cloudiness    135
Wind Speed    135
dtype: int64

In [44]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

                  City Country  Max Temp      Lat       Lng Hotel Name
0            Mahebourg      MU     78.26 -20.4081   57.7000
4      Bambous Virieux      MU     78.22 -20.3428   57.7575
5             Belmonte      BR     79.30 -15.8631  -38.8828
8             Cururupu      BR     77.16  -1.8283  -44.8683
9               Afikpo      NG     78.80   5.8931    7.9374
12              Atuona      PF     79.12  -9.8000 -139.0333
13            Lorengau      PG     84.61  -2.0226  147.2712
20  Comodoro Rivadavia      AR     75.06 -45.8667  -67.5000
22             Kavieng      PG     82.72  -2.5744  150.7967
23               Alofi      NU     80.49 -19.0595 -169.9187

In [45]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [52]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [54]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Mahebourg,MU,78.26,-20.4081,57.7000,Shandrani Beachcomber Resort & Spa
4,Bambous Virieux,MU,78.22,-20.3428,57.7575,Casa Tia Villa
5,Belmonte,BR,79.30,-15.8631,-38.8828,Pousada Monte Carmelo O Pão
8,Cururupu,BR,77.16,-1.8283,-44.8683,POUSADA TRAVÉS'CIA
9,Afikpo,NG,78.80,5.8931,7.9374,P. Noble Hotels and Suite
12,Atuona,PF,79.12,-9.8000,-139.0333,Villa Enata
13,Lorengau,PG,84.61,-2.0226,147.2712,Lorengau Harbourside Hotel
20,Comodoro Rivadavia,AR,75.06,-45.8667,-67.5000,Austral Hotel
22,Kavieng,PG,82.72,-2.5744,150.7967,Nusa Island Retreat
23,Alofi,NU,80.49,-19.0595,-169.9187,Taloa Heights

In [56]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [57]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [58]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [59]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [60]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))